<div style="text-align:center" class="mt-5">
  <h1>{{ titulo }}!!</h1>
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate class="mt-5">
    <div class="form-group">
      <label class="center-block">Nombre:
        <input class="form-control" formControlName="nombre" />
      </label>

      <label class="center-block">Apellido:
        <input class="form-control" formControlName="apellido" />
      </label>
    </div>

    <div class="form-group">
      <label class="center-block">Edad:
        <input class="form-control" formControlName="edad" type="number"/>
      </label>
    </div>

    <div class="form-group">
      <label class="center-block">Sitio web:
        <input class="form-control x-large" formControlName="sitioWeb"/>
      </label>
    </div>

    <div *ngIf="angForm.controls['nombre'].invalid &&
        (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['nombre'].errors.required">
        El nombre es requerido
      </div>
      <div *ngIf="angForm.controls['nombre'].invalid && !angForm.controls['nombre'].errors.required">
        El nombre debe tener 5 caracteres como máximo
      </div>
    </div>

    <div *ngIf="angForm.controls['edad'].touched && angForm.controls['edad'].invalid"
    class="alert alert-danger">
      <div *ngIf="angForm.controls['edad'].errors">La edad debe ser entre 0 y 100 años</div>
    </div>

    <div *ngIf="angForm.controls['sitioWeb'].touched && angForm.controls['sitioWeb'].invalid"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['sitioWeb'].errors.pattern">El Sitio web ingresado es inválido</div>
    </div>

    <button class="btn btn-primary mt-3" type="submit">
      Enviar
    </button>
  </form>
  <div class="mt-5">
    <p>Valores del Formulario: <strong>{{ angForm.value | json }}</strong></p>
    <p>Status del Formulario: <strong>{{ angForm.status | json }}</strong></p>
  </div>
</div>
